consultorias/index.BACKUP-*.html
consultorias/index.PREBLINDAGEM-*.html
consultorias/index.PREACESSOS-*.html
consultorias/index.PREVENDEDOR-*.html
consultorias/index.PREPAINEL-*.html
consultorias/index.PRESCORE-*.html
